

@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/noramlize.min.css";



html {
    font-family: "new-zen", sans-serif;
    color:aliceblue
    }


    .color {
        background-color: 	#483248;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    body {
        background-color: salmon;
        margin: 0;
    }
    
    
     h1, h2, h3  {
        color:   salmon;
        font-size: 24px;
       
    }

    h4 {
        font-size: 24px;
    }

    img {
        object-fit: cover;
        height: 200px;
        width: 250px

    }

    



    .intro h1 {
        text-align: center;
        font-size: 50px;
        max-width: 60%;
        margin-left: auto;
        margin-right: auto; 
    }



        @media(min-width:860px){
            .intro h1 {
        text-align: center;
        font-size: 6rem;
        max-width: 70%;
        margin-left: auto;
        margin-right: auto; 
                }
    
            }

    

            .line {
                padding-bottom: 25px;
                width: 75%;
                margin-left: 13%;
            }



    @media(min-width:860px) {
    .line {
        width: 75%;
        margin-left: 175px;
        padding-bottom: 25px;
    }

     }






     .desc {
        margin-left: 15%;
        font-size: 24px
    }

    .desc p {
        max-width: 80%;
    }
    
    .bullets {
        margin-left: 11%;
        font-size: 1rem;
    }

     @media (min-width: 1180px){

    .desc {
        margin-left: 25%;
        font-size: 24px;
    }

    .desc p {
        max-width: 70%;
    }
    
    .bullets {
        margin-left: 23%;
        font-size: 1rem;
        }
     }








     @media (max-width:809px){
        .wrapper {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            width: 350px;
            height: 750px;
            gap: 25px;
            margin-left: 30%;
            margin-right: 35%;
           
            
            
        }

        .wrapper img {
            border-radius: 5%;
            
        }
        .one {
            
            grid-column: 2;
        }

        .two {
            
            grid-column: 2;
        }

        .three {
            
            grid-column: 2;
        }
        .four {
            grid-column: 2;
        }
     }
     




     @media (min-width:810px) {
     .wrapper {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 30px;
        width: 700px;
        height: 700px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 75px;
     }

    .wrapper img {
        border-radius: 5%;
        width:350px;
        height: 300px;
    }


     }




     /* @media(min-width:1100px) {

        .wrapper {
            display:grid;
            grid-template-columns: 50% 50%;
            width: 500px;
            height: 500px;
            gap:20px;
           
            
        }

        .wrapper img {
            border-radius: 5%;
        }
        #grid-one img {
           grid-column: 1 / span 1; 
           grid-row: 1 / 2;
        }

        #grid-two img {
            grid-column: 2 / span 2;
            grid-row: 1 span / 1;
            
        }

        #grid-three img {
            grid-column: 2 / span 2;
            grid-row: 2 /span 2;


        }
        #grid-four img {
            grid-column: 1 / span 2;
            grid-row: 3 / span 3;


        }






     }
      */









     .ing {
        padding-top: 150px;
        text-decoration:  underline;
        padding-left: 20px;
        text-align: center;
        font-size: 24px;
     
     }

     @media(min-width: 810px){
        .ing {
            padding-top: 50px;
            text-decoration:  underline;
            padding-left: 20px;

        }

        .media-scroller {
            padding-bottom: 100px;
        }


     }



    

    .media-scroller {
        margin-bottom: -50px;
        display: grid;
        gap:var(--size-3);
        grid-auto-flow: column;
        
        overflow-x: auto;
        overscroll-behavior-inline: contain;


        grid-auto-columns: 21%;
        padding-left: 20px;
    }


    .media-element {
        padding: 5px;
        background: var(--surface-2);
        border-radius: var(--radius-2);
    }


        .media-element > img {
            width: 100%;
          
            border-radius: 3%;
        }










        .steps {
            width:100%;

        }

    .steps h2 {
        text-align: center;
        font-size: 32px;
        text-decoration: underline;
        padding-bottom: 50px;
    }



    .steps p {
        font-size: 24px;
    }

    

    .step_image img {
        width: 450px;
        height: 400px;
        border-radius: 2%;
        margin-left: auto;
        margin-right: auto;
        display: block;

    }


    .step_text {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }


    @media (min-width: 1100px ) {


        .step_container {
            display: flex;
            justify-content: space-between;
            
        }


        .step_container:nth-child(even) .step_image{
            
            order:2;
            
        }

        .step_container:nth-child(even) .step_image img{
            
            margin-right: 50px;
            
        }

        .step_container:nth-child(odd) .step_image img{
            
            margin-left: 50px;
            
        }

        .step-two {
            padding-top:75px;
        }

    }








.final_hr {
    width: 75%;
    margin-left: 12.5;
    margin-top: 100px;
}


    .last_text  {
        margin-top: 75px;
        text-align: center;
      
    }

    .last_text h2 {
        font-size: 48px;
    }

    .final-image img {
        
        display: block;
        
        margin-left: auto;
        margin-right: auto;
        width: 450px;
        height: 250px;
        object-fit: cover;
        margin-bottom: 50px;
        border-radius: 3%;

    }

    @media(min-width: 1100px) {

        .final-image img {
        
            display: block;
            
            margin-left: auto;
            margin-right: auto;
            width: 850px;
            height: 450px;
            object-fit:cover;
            margin-bottom: 50px;
            border-radius: 3%;
    
        }

    }



    .last-section {
        background-color: salmon;
        margin-bottom: 0;
    }

    .last-section p {
        color: #483248;
       text-align: center;
       padding-top: 50px;
       padding-bottom: 50px;
    }