html {
font-family: "new-zen", sans-serif;
}


body {
    background-color: lightgray;
}


h1, h2, p {
    color: salmon;
}

h1 {
    text-decoration: underline;
}


.pre {
margin-left: 40px;
}

.image {
    float:left;
    padding-right: 45px;
    margin-bottom: 250px;
    height: 30%;
    width:30%
    
    
}

.source {
    text-align: center;
}



